In [1]:
import pandas as pd
import numpy as np

In [2]:
# Dataset is from:
# https://ieee-dataport.org/open-access/malware-analysis-datasets-api-call-sequences
df = pd.read_csv('dynamic_api_call_sequence_per_malware_100_0_306.csv')
df

,hash,t_0,t_1,t_2,t_3,t_4,t_5,t_6,t_7,t_8,...,t_91,t_92,t_93,t_94,t_95,t_96,t_97,t_98,t_99,malware
0,071e8c3f8922e186e57548cd4c703a5d,112,274,158,215,274,158,215,298,76,...,71,297,135,171,215,35,208,56,71,1
1,33f8e6d08a6aae939f25a8e0d63dd523,82,208,187,208,172,117,172,117,172,...,81,240,117,71,297,135,171,215,35,1
2,b68abd064e975e1c6d5f25e748663076,16,110,240,117,240,117,240,117,240,...,65,112,123,65,112,123,65,113,112,1
3,72049be7bd30ea61297ea624ae198067,82,208,187,208,172,117,172,117,172,...,208,302,208,302,187,208,302,228,302,1
4,c9b3700a77facf29172f32df6bc77f48,82,240,117,240,117,240,117,240,117,...,209,260,40,209,260,141,260,141,260,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43871,e3d6d58faa040f0f9742c9d0eaf58be4,82,240,117,240,117,240,117,240,117,...,141,260,141,260,141,260,141,260,141,1
43872,9b917bab7f32188ae40c744f2be9aaf8,82,240,117,240,117,240,117,240,117,...,159,224,82,159,224,82,159,224,82,1
43873,35a18ee05f75f04912018d9f462cb990,82,240,117,240,117,240,117,240,117,...,260,141,260,141,260,141,260,141,260,1
43874,654139d715abcf7ecdddbef5a84f224b,82,240,117,240,117,240,117,240,117,...,141,260,141,260,141,260,141,260,141,1
43875,078c9d4e7be4819a06974c6f292a4857,112,274,158,215,274,158,215,298,76,...,71,297,135,171,215,35,208,56,71,1

In [3]:
from imblearn.over_sampling import SMOTE

over_sample = SMOTE()
x, y = over_sample.fit_resample(df.loc[:,'t_0':'t_99'], df.malware)

Using TensorFlow backend.

In [4]:
column_names = x.loc[:,'t_0':'t_99'].columns.values
x['combined'] = x[column_names].apply(lambda row: row.values.tolist(), axis=1)
x

,t_0,t_1,t_2,t_3,t_4,t_5,t_6,t_7,t_8,t_9,...,t_91,t_92,t_93,t_94,t_95,t_96,t_97,t_98,t_99,combined
0,112,274,158,215,274,158,215,298,76,208,...,71,297,135,171,215,35,208,56,71,"[112, 274, 158, 215, 274, 158, 215, 298, 76, 2..."
1,82,208,187,208,172,117,172,117,172,117,...,81,240,117,71,297,135,171,215,35,"[82, 208, 187, 208, 172, 117, 172, 117, 172, 1..."
2,16,110,240,117,240,117,240,117,240,117,...,65,112,123,65,112,123,65,113,112,"[16, 110, 240, 117, 240, 117, 240, 117, 240, 1..."
3,82,208,187,208,172,117,172,117,172,117,...,208,302,208,302,187,208,302,228,302,"[82, 208, 187, 208, 172, 117, 172, 117, 172, 1..."
4,82,240,117,240,117,240,117,240,117,172,...,209,260,40,209,260,141,260,141,260,"[82, 240, 117, 240, 117, 240, 117, 240, 117, 1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85589,82,16,223,161,104,143,202,244,183,109,...,162,105,162,105,162,105,162,105,162,"[82, 16, 223, 161, 104, 143, 202, 244, 183, 10..."
85590,82,16,233,141,75,194,91,200,172,200,...,241,136,86,189,241,79,241,75,147,"[82, 16, 233, 141, 75, 194, 91, 200, 172, 200,..."
85591,89,200,185,200,172,117,172,117,172,117,...,252,69,143,69,121,207,252,69,143,"[89, 200, 185, 200, 172, 117, 172, 117, 172, 1..."
85592,286,172,117,275,208,187,208,240,275,240,...,141,65,260,141,65,260,141,65,260,"[286, 172, 117, 275, 208, 187, 208, 240, 275, ..."
85593,91,27,46,244,144,70,172,117,262,204,...,247,114,210,77,247,114,247,197,120,"[91, 27, 46, 244, 144, 70, 172, 117, 262, 204,..."

In [5]:
x = x['combined'].to_numpy()
x

array([list([112, 274, 158, 215, 274, 158, 215, 298, 76, 208, 76, 172, 117, 172, 117, 172, 76, 117, 35, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 60, 81, 117, 60, 81, 60, 81, 208, 35, 215, 35, 208, 240, 117, 172, 60, 81, 60, 81, 225, 35, 60, 81, 35, 225, 172, 60, 81, 60, 81, 60, 81, 172, 117, 76, 172, 117, 172, 117, 35, 111, 81, 140, 208, 240, 117, 71, 297, 135, 171, 215, 35, 208, 56, 71]),
       list([82, 208, 187, 208, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 208, 172, 117, 16, 208, 297, 8, 199, 264, 274, 158, 215, 274, 158, 215, 208, 260, 87, 260, 65, 14, 65, 240, 117, 208, 187, 208, 240, 117, 39, 35, 171, 172, 117, 208, 35, 215, 35, 208, 240, 117, 35, 60, 81, 60, 81, 172, 35, 60, 81, 60, 81, 31, 60, 81, 208, 187, 208, 274, 158, 266, 208, 60, 81, 60, 81, 240, 117, 71, 297, 135, 171, 215, 35]),
       list([16, 110, 240, 117, 240, 117, 240, 117, 240, 117, 240, 117, 240, 117, 172, 117, 99, 260, 141, 65, 240, 117, 240, 117, 240, 117, 263, 215, 263, 215, 263, 215, 263, 215, 263, 215, 263, 215, 263, 215, 263, 215, 274, 158, 215, 274, 158, 215, 240, 117, 71, 297, 135, 171, 215, 48, 208, 112, 113, 112, 123, 65, 112, 123, 65, 112, 123, 65, 113, 112, 123, 65, 112, 123, 65, 112, 123, 65, 113, 112, 123, 65, 112, 123, 65, 112, 123, 65, 113, 112, 123, 65, 112, 123, 65, 112, 123, 65, 113, 112]),
       ...,
       list([89, 200, 185, 200, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 172, 117, 172, 126, 167, 121, 167, 121, 167, 121, 167, 121, 200, 180, 120, 175, 242, 27, 208, 38, 240, 255, 234, 117, 237, 122, 114, 166, 263, 135, 76, 245, 143, 69, 252, 139, 73, 248, 143, 69, 252, 139, 73, 248, 234, 117, 79, 282, 137, 166, 211, 112, 124, 65, 230, 121, 230, 121, 248, 143, 69, 252, 117, 252, 139, 73, 117, 252, 139, 73, 117, 21, 117, 252, 69, 143, 69, 252, 69, 143, 69, 121, 207, 252, 69, 143]),
       list([286, 172, 117, 275, 208, 187, 208, 240, 275, 240, 275, 71, 275, 112, 71, 25, 71, 275, 260, 240, 117, 141, 65, 260, 141, 274, 158, 215, 274, 158, 215, 65, 86, 99, 71, 215, 240, 275, 240, 275, 240, 117, 172, 117, 240, 275, 240, 275, 240, 275, 208, 172, 117, 298, 297, 135, 171, 215, 240, 275, 240, 275, 82, 260, 141, 65, 260, 141, 65, 260, 141, 65, 240, 172, 275, 240, 117, 172, 275, 240, 117, 172, 117, 110, 240, 117, 240, 117, 106, 171, 260, 141, 65, 260, 141, 65, 260, 141, 65, 260]),
       list([91, 27, 46, 244, 144, 70, 172, 117, 262, 204, 113, 165, 250, 138, 76, 226, 123, 257, 75, 250, 138, 250, 70, 127, 268, 232, 116, 40, 121, 267, 221, 248, 81, 239, 148, 66, 262, 153, 214, 173, 127, 243, 158, 66, 175, 112, 232, 117, 250, 70, 262, 153, 210, 256, 159, 204, 262, 153, 210, 92, 172, 84, 210, 197, 250, 213, 80, 250, 90, 210, 151, 95, 217, 191, 141, 191, 141, 191, 141, 176, 244, 144, 277, 204, 256, 159, 204, 262, 153, 210, 197, 247, 114, 210, 77, 247, 114, 247, 197, 120])],
      dtype=object)

In [6]:
from keras.preprocessing import sequence
x = sequence.pad_sequences(x, maxlen=100)
x

array([[112, 274, 158, ..., 208,  56,  71],
       [ 82, 208, 187, ..., 171, 215,  35],
       [ 16, 110, 240, ...,  65, 113, 112],
       ...,
       [ 89, 200, 185, ..., 252,  69, 143],
       [286, 172, 117, ..., 141,  65, 260],
       [ 91,  27,  46, ..., 247, 197, 120]])

In [7]:
x.shape

(85594, 100)

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [9]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers.embeddings import Embedding
np.random.seed(7)

embedding_vector_length = 32

model = Sequential()
model.add(Embedding(307, embedding_vector_length, input_length=100))
model.add(LSTM(100))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

model.fit(x_train, y_train, epochs=5, batch_size=64)
scores = model.evaluate(x_test, y_test, verbose=0)
print("Accuracy: %.2f%%" % (scores[1]*100))

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 100, 32)           9824
_________________________________________________________________
lstm_1 (LSTM)                (None, 100)               53200
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 101
=================================================================
Total params: 63,125
Trainable params: 63,125
Non-trainable params: 0
_________________________________________________________________
None
WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:2741: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/5
WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From C:\Users\jaems\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

68475/68475 [==============================] - 161s 2ms/step - loss: 0.1413 - acc: 0.9514
Epoch 2/5
68475/68475 [==============================] - 177s 3ms/step - loss: 0.1350 - acc: 0.9556
Epoch 3/5
68475/68475 [==============================] - 199s 3ms/step - loss: 0.0761 - acc: 0.9791
Epoch 4/5
68475/68475 [==============================] - 240s 4ms/step - loss: 0.0689 - acc: 0.9789
Epoch 5/5
68475/68475 [==============================] - 291s 4ms/step - loss: 0.0561 - acc: 0.9843
Accuracy: 98.36%